.wrapper {
    max-width: 400px;
    max-height: min(400px, 64vh);
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2509803922);
}
